<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%- include('../layout/head.ejs') %>

        <title>Quizzat</title>
</head>

<body>
    <header>
        <%- include('../layout/header.ejs') %>

    </header>
    <main>
        <div class="tb-content elementor-page">


            <section id="profileHead">
                <div>
                    <img src="images/person.svg" style="border-radius: 50%;">
                </div>
                <section id="besid-prof-pic">
                    <div>
                        <!-- main-details: name, email, password -->
                        <h2>Main Details:</h2>
                        <% if(user.userDetailsB){ %>
                            <h3 id="UN">
                                Name:
                                <%=user.userDetailsB.user_name%>
                            </h3>
                            <h4>
                                Email:
                                <%= user.userDetailsB.email %>
                            </h4>
                            <%  }else if(user.userDetailsA){ %>
                                <h3 id="UN">
                                    Name:
                                    <%=user.userDetailsA.user_name%>
                                </h3>
                                <h4>
                                    Email:
                                    <%= user.userDetailsA.email %>
                                </h4>
                                <%  } 
        if(statue){ %>
                                    <i id="ST" style="display: none;"><%=statue%></i>
                                    <%  } %>

                    </div>
                    <div>
                        <!-- more-details: gender, spelize, education, bio  -->
                        <h2>More Details:</h2>
                        <% if(user.userDetailsA){ %>
                            <h4>
                                Gender:
                                <%= user.userDetailsA.gender %>
                            </h4>
                            <h4>
                                Education:
                                <%= user.userDetailsA.education %>
                            </h4>
                            <h4>
                                Major:
                                <%= user.userDetailsA.major %>
                            </h4>
                            <p>

                                <h4>Bio:
                                </h4>
                                <%= user.userDetailsA.bio %>
                            </p>
                            <%  } %>
                    </div>
                </section>
            </section>
            <section id="profile-body-flex">
                <section id="forms-flex-side">
                    <button class="profile-btns update" id="toggle-profileInfo-form">Update My Info</button>
                    <form class="profile-forms hide-infoForm updateFo" action="/update" method="post">
                        <label for="">Gender:</label><input type="text" name="gender" placeholder="Gender">
                        <label for="">Major:</label><input type="text" name="major" placeholder="Major">
                        <label for="">Bio:</label><input type="text" name="bio" placeholder="Bio">
                        <label for="">Education:</label><input type="text" name="education" placeholder="Education">
                        <label for="">Twitar:</label><input type="text" name="twitar" placeholder="Twitter">
                        <label for="">GitHub:</label><input type="text" name="gitHub" placeholder="GitHub">
                        <label for="">LinkedIn:</label><input type="text" name="linkedIn" placeholder="LinkedIn">
                        <button class="profile-btns forms" type="submit">Save</button>
                    </form> <br> <br>
                    <button class="profile-btns updateHi" id="toggle-profilePost-form">Update HireMe Post</button>
                    <form class="profile-forms hide-postForm updateHiFo" action="/updateHireMe" method="post">
                        <label for="">Education:</label><input type="text" name="education" placeholder="Education">
                        <label for="">Major:</label><input type="text" name="major" placeholder="Major">
                        <label for="">Email:</label><input type="text" name="email" placeholder="Email">
                        <label for="">Twitar:</label><input type="text" name="twitar" placeholder="Twitter">
                        <label for="">GitHub:</label><input type="text" name="github" placeholder="GitHub">
                        <label for="">LinkedIn:</label><input type="text" name="linkedIn" placeholder="LinkedIn">
                        <label for="">Describion:</label><textarea rows="10" cols="25" type="text" name="descr" placeholder="Education"></textarea><br>
                        <button class="profile-btns forms" type="submit">Save</button>
                    </form> <br> <br> <br> <br> <br> <br>
                    <button class="profile-btns"> Delete My Profile</button>
                </section>
                <section id="details-Certificat">
                    <h1>My Certificates</h1>
                    <% if(user.uCretri){
                            user.uCretri.forEach(item=>{ %>
                        <div class="card">
                            <!-- certifcates -->
                            <div>
                                <div id="image-side">
                                    <img id="certifcate-img" src="<%= item.img_url %>" alt="">
                                </div>
                                <div class="besid-cert-img">
                                    <h5>
                                        <%= item.certificat_name %> Certificate
                                    </h5>
                                    <h3>
                                        <%= item.mark %>
                                    </h3>
                                    <h2>
                                        <%= item.result %>
                                    </h2>
                                    <div id="certificate-logo">
                                        <img src="images/Logo.png" alt="" srcset="">
                                    </div>
                                    <p>
                                        Date Issued:
                                        <%= item.date %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <%  })     
                
            } %>
                            <h2>Contact Me:</h2>
                            <div id="contact-profile">
                                <!-- Contact Me -->
                                <% if(user.userDetailsA){ %>
                                    <h4>

                                        <a href=" <%= user.userDetailsA.twitar %>"> <i class="fab fa-twitter"></i></a>

                                    </h4>
                                    <h4>
                                        <a href="  <%= user.userDetailsA.github %>"> <i class="fab fa-github-alt"></i></a>

                                    </h4>
                                    <h4>
                                        <a href="<%= user.userDetailsA.linkedin %>"><i class="fab fa-linkedin-in"></i></a>

                                    </h4>
                                    <%  } %>
                            </div>
                </section>
            </section>
        </div>
    </main>
    <footer>
        <%- include('../layout/footer.ejs') %>
    </footer>
    <script src="/javascript/app.js"></script>
</body>

</html>