<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%- include('../layout/head.ejs') %>
        <title>Quizzat</title>
</head>

<body>
    <header>
        <%- include('../layout/header.ejs') %>
    </header>
    <main>
        <div id="profileMain">
            <%- include('../layout/main-load.ejs') %>
        </div>
        <div class="container">
            <div id="profileImg-details">
                <div>
                    <img src="images/user.svg" id="profilePic" />
                </div>
                <div id="profileDBdetails">
                    <!-- main-details: name, email, password -->
                    <h2>Main Details:</h2>
                    <% if(user.userDetailsB){ %>
                        <h3>
                            Name:
                            <%= user.userDetailsB.user_name %>
                        </h3>
                        <h4>
                            Email:
                            <%= user.userDetailsB.email %>
                        </h4>
                        <% }else{ %>
                            <h3 id="UN">
                                Name:
                                <%= user.userDetailsA.user_name %>
                            </h3>
                            <h4>
                                Email:
                                <%= user.userDetailsA.email %>
                            </h4>

                            <i id="ST" style="display: none;"> <%= statue %> </i>

                            <% } %>
                </div>
            </div>

            <section id="formsProfileContainer">
                <button type="submit" id="work-button">
            Update My info <span id="updateInfoToggleBtn"></span>
          </button>

                <form class="well form-horizontal hide" action="/update" method="post" id="contact_form">
                    <!-- Form Name -->
                    <fieldset>
                        <section class="section">
                            <div>
                                <!-- more-details: gender, spelize, education, bio  -->
                                <h2>More Details:</h2>
                                <% if(user.userDetailsA){ %>
                                    <h4>
                                        <%= user.userDetailsA.gender %>
                                    </h4>
                                    <h4>
                                        <%= user.userDetailsA.education %>
                                    </h4>
                                    <h4>
                                        <%= user.userDetailsA.major %>
                                    </h4>
                                    <p>
                                        <%= user.userDetailsA.bio %>
                                    </p>
                                    <% } %>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Gender</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-venus-mars"></i
                      ></span>
                                        <input type="text" name="gender" placeholder="Gender" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <!-- Text input-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Major</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fal fa-user-crown"></i
                      ></span>
                                        <input type="text" name="major" placeholder="Major" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Education</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-user-graduate"></i>
                      </span>
                                        <input type="text" name="education" placeholder="Education" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Twitter</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fab fa-twitter"></i
                      ></span>
                                        <input type="text" name="twitar" placeholder="Twitter link" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">GitHub</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fab fa-github-alt"></i
                      ></span>
                                        <input type="text" name="gitHub" placeholder="GitHub link" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">LinkedIn</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fab fa-linkedin-in"></i
                      ></span>
                                        <input type="text" name="linkedIn" placeholder="LinkedIn link" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Bio</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-file-prescription bioIcon"></i
                      ></span>
                                        <textarea class="form-control" name="bio " placeholder="Bio"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4">
                                    <button type="submit" id="work-button">
                      Save Changes
                      <span class="glyphicon glyphicon-send"></span>
                    </button>
                                </div>
                            </div>
                        </section>
                    </fieldset>
                </form>

                <button type="submit" id="work-button">
            Update My Post <span class="glyphicon glyphicon-send"></span>
          </button>
                <form action="/updateHireMe" method="post" id="detailss_form">
                    <!-- Form Name -->
                    <fieldset>
                        <section class="section">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Full Name </label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="far fa-user"></i
                      ></span>
                                        <input type="text" name="user_name" placeholder="Full Name" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Education</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-user-graduate"></i>
                      </span>
                                        <input type="text" name="education" placeholder="Education" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Major</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="far fa-user-tag"></i
                      ></span>
                                        <input type="text" name="major" placeholder="Major" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Email</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="far fa-envelope"></i
                      ></span>
                                        <input type="text" name="email" placeholder="Twitter link" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Twitter</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fab fa-twitter"></i
                      ></span>
                                        <input type="text" name="twitar" placeholder="Twitter link" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">GitHub</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fab fa-github-alt"></i
                      ></span>
                                        <input type="text" name="gitHub" placeholder="GitHub link" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">LinkedIn</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fab fa-linkedin-in"></i
                      ></span>
                                        <input type="text" name="linkedIn" placeholder="LinkedIn link" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Bio</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-file-prescription bioIcon"></i
                      ></span>
                                        <textarea class="form-control" name="descr" placeholder="Post Content"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4">
                                    <button type="submit" id="work-button">
                      Save Changes
                      <span class="glyphicon glyphicon-send"></span>
                    </button>
                                </div>
                            </div>
                        </section>
                    </fieldset>
                </form>
            </section>

            <section id="flex-section-profile">
                <section>
                    <!-- certifcates -->
                    <div>
                        <h2>My Certificates</h2>
                        <% if(user.uCretri){ user.uCretri.forEach(item=>{ %>
                            <div>
                                <div class="card">
                                    <div class="additional">
                                        <img src="<%= item.img_url %>" alt="" />
                                    </div>
                                    <div class="general">
                                        <h3>
                                            <%= item.certificat_name %>
                                        </h3>
                                        <br />
                                        <h4>USER NAME</h4>
                                        <p>
                                            <b>Mark:</b>
                                            <%= item.mark %>
                                        </p>
                                        <span class="more"><b>Date issued: </b> <%= item.date %></span
                    >
                  </div>
                  <% }) }%>
                </div>
              </div>
            </div>
          </section>

          <!-- rrrrrr -->

          <!-- rrrrrr -->

          <section id="ffff">
            <div>
              <!-- Contact Me -->
              <h2>Contact Me:</h2>
              <% if(user.userDetailsA){ %>
              <h4>
                Twitter: <%= user.userDetailsA.twitar %>
              </h4>
              <h4>
                GitHub: <%= user.userDetailsA.github %>
              </h4>
              <h4>
                LinkedIn: <%= user.userDetailsA.linkedin %>
              </h4>
              <% } %>
            </div>
          </section>
        </section>
      </div>

      <footer>
        <%- include('../layout/footer.ejs') %>
      </footer>
        <div> <!-- Contact Me -->
            <h2>Contact Me:</h2>
            <% if(user.userDetailsA){ %>
            <h4> <%= user.userDetailsA.twitar %> </h4>
                <h4> <%= user.userDetailsA.github %> </h4>
                <h4> <%= user.userDetailsA.linkedin %> </h4>
        <%  } %>
        </div>
       
            <button>Update My Info</button>
            

                <form action="/update" method="post">

                <label for="">Gender:<input type="text" name="gender"></label>
                <label for="">Major:<input type="text" name="major"></label>
                <label for="">Bio:<input type="text" name="bio"></label>
                <label for="">Education:<input type="text" name="education"></label>
                <label for="">Twitar:<input type="text" name="twitar"></label>
                <label for="">GitHub:<input type="text" name="gitHub"></label>
                <label for="">LinkedIn:<input type="text" name="linkedIn"></label>

                <button type="submit">Save</button>
        
                </form> 
            
            <button>Update My HireMe Post</button>

                <form action="/updateHireMe" method="post">

                <!-- <label for="">YourName:<input type="text" name="user_name" value=""></label> -->
                <label for="">Education:<input type="text" name="education" value=""></label>
                <label for="">Major:<input type="text" name="major" value=""></label>
                <label for="">Email:<input type="text" name="email" value=""></label>
                <label for="">Twitar:<input type="text" name="twitar" value=""></label>
                <label for="">GitHub:<input type="text" name="github" value=""></label>
                <label for="">LinkedIn:<input type="text" name="linkedIn" value=""></label>
                <label for="">Describion:<textarea rows="10" cols="25" type="text" name="descr" value=""></textarea></label>

                <button type="submit">Save</button>
        
                </form>
            <button>Delete My Profile</button>

    </main>
  </body>
</html>