<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <%- include('../layout/head.ejs') %>
    <!-- <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/layout.css">
    <link rel="stylesheet" href="../style/modules.css"> -->
</head>

<body>
    <header>
        <%- include('../layout/header.ejs') %>
    </header>
    <main style="padding: 15px 140px;">

        <% if(stat){ %>

        <h1>we are sorry you are not qulified enough for this job! <br> check your ability now with a quiz<ready class=""></ready></h1>
        <div>
            <% if(quizzeInfo.length != 0){ %>
                <form action="/work/<%= thJobDx %>" method="post">
                    <% quizzeInfo.forEach((item, idx)=>{ %>
                        <section class='questionSection'>

                            <h2> Question:
                                <%= idx+1 %>
                            </h2>
                            <h3>
                                <%= item[0].question %>
                            </h3>
                            <section class="answerArea">
                                <input type="radio" name="answer<%= idx %>" value="answer_a"></input><label for="anwer1">
<%= item[0].answers.answer_a %> </label> <br>
                                <input type="radio" name="answer<%= idx %>" value="answer_b"></input><label for="anwer2">
<%= item[0].answers.answer_b %> </label> <br>
                                <% if(item[0].answers.answer_c != null){ %>
                                    <input type="radio" name="answer<%= idx %>" value="answer_c"></input><label for="anwer3">
<%= item[0].answers.answer_c %> </label> <br>
                                    <% }
if(item[0].answers.answer_d != null){ %>
                                        <input type="radio" name="answer<%= idx %>" value="answer_d"></input><label for="anwer4">
<%= item[0].answers.answer_d %> </label> <br>
                                        <% } %>
                                            <br> <br>

                            </section>
                        </section>
                        <%    }) %>
                            <button class="submit-quiz"> Submit </button>
                </form>
                <% } %>
        </div>
<% } else { %>
    <h1>yes you are ready.. :)</h1>
    <h2 style='padding: 2% 50% 0;'> <%= apprtunty.title %></h2>
    <img style='padding: 0 0% 10%;' src="<%= apprtunty.company_logo %>">
    <h4> <span><i class="far fa-clock"></i> Work hours :</span> <%= apprtunty.type %> </h4> <br>
    <h4> <span><i class="far fa-hourglass"></i> Published date :</span> <%= apprtunty.created_at %> </h4> <br>
    <h4> <span><i class="far fa-building"></i> Company name :</span> <%= apprtunty.company %> </h4> <br>
    <%- apprtunty.description %> 
    <span><%- apprtunty.how_to_apply %></span>
    <% } %>
    </main>
    <footer>
        
    </footer>
</body>

</html>