<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coursat</title>
</head>

<body>
    <header>

    </header>
    
    <main>

            <% if(trueA <= 4){ %>
                <!-- <script>
                    alert(`you made <%= trueA %> correct answers, well done!! :]`);
                </script> -->
                <h1>Congraidlation <%= results.user_name %>!!</h1>
                <h2>youv <%= results.result %> this exam :]</h2>
                <h2>& your mark is <strong><%= results.mark %></strong> </h2>
                <h5>on <%= results.date %></h5>
           <% }else{ %>
                <!-- <script>
                    alert(`you even dont deserve alert!! -_-`);
                </script> -->
                <h1>We are sory <%= results.user_name %>!!</h1>
                <h2>youv <%= results.result %> this exam :[</h2>
                <h2>& your mark is <strong><%= results.mark %></strong> </h2>
                <h5>on <%= results.date %></h5>
           <% } %>

    </main>
</body>
</html>