<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <%- include('../layout/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../layout/header.ejs') %>
    </header>
    <main>
        <%- include('../layout/main-load.ejs') %>
        <!-- the main data here -->
        <form action="/work" method="get">
            <input type="text" name="city" id="input-Work">
            <button id="work-button">Search</button>
        </form>
        <div id="flex">
            <% if(workinfo.length != 0){ 
               workinfo.forEach(item =>{ %>
            <div id="card">
                <div class="flex-row">
                    <h2> <%= item.title %></h2>
                    <img src="<%= item.company_logo %>">
                </div>
                <h4> <span><i class="far fa-clock"></i> Work hours :</span> <%= item.type %> </h4> <br>
                <h4> <span><i class="far fa-hourglass"></i> Published date :</span> <%= item.created_at %> </h4> <br>
                <h4> <span><i class="far fa-building"></i> Company name :</span> <%= item.company %> </h4> <br>
                <button type="button" class="collapsible">See description</button>
                <div class="content">
                    <p> <%- item.description %> </p>
                    <span><%- item.how_to_apply %></span>
                </div>
            </div>
            <% });
            } %>
        </div>
    </main>
    <footer>
        <%- include('../layout/footer.ejs') %>
    </footer>
</body>

</html>